.sideWindow {
    background-color: blue;
}

.middleWindow {
    background-color: red;
    height: 100%;
}

.activityContainer {
    display: grid;
    grid-template-columns: 25% minmax(0px, auto) 25%;
    height: 100vh;
    padding: 10px;
    gap: 10px;
}