.sideWindow {
    overflow: auto;
}

.middleWindow {
    height: 100%;
}

.problemWindow {
    padding: 20px;
}

.window {
    /* border-radius: 8px; */
    background: white;
    box-sizing: border-box;
    border: solid 1px var(--mantine-color-gray-3);
    border-radius: 8px;
}

.codeWindowContainer {
    overflow: hidden;
}

.codeWindow {
    overflow: hidden; /* IMPORTANTE! PAG WALA ITO, KINAKAIN NG TOP IDE WINDOW ANG ESPASYO NG BOTTOM HALF */
}

.editorContainer {
    flex: 1;
    overflow: hidden; /* IMPORTANTE! PAG WALA ITO, HINDI GUMAGANA NG MAAYOS ANG SCROLLING SA IDE */
}

.activityContainer {
    flex: 1;
    display: grid;
    grid-template-columns: 25% minmax(0px, auto) 25%;
    /* height: 100vh; */
    /* max-height: 100vh; */
    padding: 10px;
    gap: 10px;
    background-color: var(--mantine-color-gray-0);
    overflow: hidden;
}

.breadcrumbsCurrentLink {
    font-weight: bold;
}

.windowHeader {
    background: var(--mantine-color-teal-6);
    width: 100%;
    height: 40px;
    padding-top: 4px;
    padding-left: 8px;
}

.headerTextContainer {
    /* background-color: var(--mantine-color-teal-6); */
    background: white;
    border-radius: 8px 8px 0 0;
}

.headerText {
    background-color: transparent;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.multiWindow {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    overflow: hidden !important;
}

.activityContainer {
    flex: 1;
    overflow: hidden;
}

.modifyCodeText {
    font-size: 14px;
    font-weight: bold;
}