.container {
    flex: 1;
    gap: 0;
}

.header {
    background: var(--mantine-color-teal-4);
    width: 100%;
    height: 40px;

}

.headerTextContainer {
    background-color: var(--mantine-color-teal-6);
}

.headerText {
    background-color: transparent;
    font-size: 1rem;
    color: white
}

.windowArea {
    padding: 20px;
    background-color: white;
    flex: 1;
}