.chapterContainer {
  background: var(
    --Gradient-Teal-Very-Light,
    linear-gradient(
      0deg,
      var(--Neutral-neutral-1, rgba(242, 242, 242, 0.29)) 0%,
      var(--Teal-teal-1, rgba(128, 179, 179, 0.29)) 78%
    )
  );
}

.xp {
  border-radius: 4px;
  background: var(
    --Gradient-Teal-Purple,
    linear-gradient(
      133deg,
      var(--Teal-teal-2, #408c8c) 8.93%,
      var(--Purple-purple-2, #926ab8) 105.64%
    )
  );
  color: white;
  padding: 2px 6px;
  font-size: 12px;
}

.description {
  font-weight: normal;
  color: var(--mantine-color-gray-6);
}

.toggleChapterDetails {
    border: none;
    background: transparent;
    color: var(--mantine-color-violet-6);
    cursor: pointer;
}

.toggleChapterDetails:hover {
    text-decoration: underline;
}

.toggleChapterDetailsText {
    font-weight: normal;
}
