.greetingHeader {
  padding: 0;
  margin: 0;
}

.greetingBody {
  padding: 0;
  margin: 0;
}

.greetingImage {
  width: 450px;
}

@media screen and (max-width: 991) {
  .greetingText {
    text-align: center;
    order: 2;
    margin-top: 22px;
  }
}

