.card {
  transition: box-shadow 0.3s ease;
  box-shadow: none;
  /* aspect-ratio: 359/335; */
}

.card:hover {
  box-shadow: var(--mantine-shadow-md);
}

.learn {
    background-color: var(--mantine-color-teal-6);
  transition: background-color 0.3s ease;
}

.card:hover .learn {
  background-color: var(--mantine-color-teal-9);
}
