.navbarOptionInactive{
    color: darkslategray;
    cursor: pointer;
}

.navbarOptionInactive:hover{
    border-radius: 8px;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

}

.navbarOptionActive{
    /* background-color: lightgreen; */
    /* color: darkgreen; */
    border-radius: 8px;
    background-color: var(--mantine-color-teal-light);
    color: var(--mantine-color-teal-light-color);
}