.navbarOptionInactive{
    color: gray;
    cursor: pointer;
}

.navbarOptionInactive:hover{
    background-color: gainsboro;
    color: darkslategray;
}

.navbarOptionActive{
    background-color: lightgreen;
    color: darkgreen;
}